<div class="content-body">
    <!-- Basic Tables start -->

    <p-messages [(value)]="msgs"></p-messages>

    <div class="ui-g">
        <div class="ui-g-12 ui-md-12">
            <div div class="ui-g dashboard ">
                <div class="ui-g-12">
                    <div class="ui-g overview-box highlightBgColor ">
                        <div class="overview-box-icon">
                            <i class="fa fa-folder"></i>
                        </div>
                        <div class="overview-box-content">
                            <div class="overview-box-title">Recebimento de Arquivo</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div style="height: 10px"></div>

    <p-tabView (onChange)="getLista($event)">
        <p-tabPanel header="Recebimento de Arquivo">
            <p-blockUI [blocked]="processandoForm">
                <i class="pi pi-spin pi-spinner" style="position:absolute;top:50%;left:50%;font-size: 3em"></i>
            </p-blockUI>
            <form #formPadrao="ngForm" name="formPadrao" class="form">

                <div class="m-3">
                    <div class="form-body">

                        <div class="row">
                            <inputText md="2" label="Codigo do Cliente" name="clienteId"
                                       [f11]="true" (funF11)="openModalCliente()"
                                       [(ngModel)]="objetoSelecionado.cliente.id"
                                       (onChange)="selecionarCliente()"></inputText>
                            <inputText md="6" label="Cliente" name="clienteNome"
                                       [(ngModel)]="objetoSelecionado.cliente.razaoSocial"
                                       [disabled]="true"></inputText>
                            <div class="ui-g-12 ui-md-12">
                                <label>Arquivo</label>
                                <p-fileUpload #inputFile name="arquivo[]" maxFileSize="10000000" customUpload="true"
                                              accept=".csv" (uploadHandler)="acaoConfirmar($event, inputFile)"
                                              invalidFileTypeMessageSummary="Arquivo inválido, selecione um arquivo .csv"
                                              chooseLabel="Selecione o arquivo"
                                              cancelLabel="Cancelar"></p-fileUpload>
                            </div>

                        </div>

                        <!-- {{objetoSelecionado|json}} -->

                    </div>
                </div>

                <!-- <div style="padding: 5px;" class="primaryColor">
                    <button label="Confirmar" pButton icon="fa fa-check"
                        (click)="acaoConfirmar(formPadrao)"></button>

                    <button pButton label="Cancelar" icon="fa fa-times"
                        (click)="acaoSairDetalhes()"></button>
                </div> -->

            </form>
        </p-tabPanel>
        <p-tabPanel header="Fila de Processamento">
            <div class="table-responsive">

                <p-table [value]="dados" dataKey="id">
                    <ng-template pTemplate="caption" >
                        <div style="position: relative;top: -5px;">
                            <button label="Atualizar" icon="pi pi-refresh" pButton (click)="getLista({index: 1})"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em"></th>
                            <th>Cliente</th>
                            <th>Arquivo</th>
                            <th style="width: 80px">Registros</th>
                            <th style="width: 150px">Data Envio</th>
                            <th>Status</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-expanded="expanded">
                        <tr>
                            <td>
                                <a href="#" [pRowToggler]="item">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </td>
                            <td>{{item.cliente.razaoSocial}}</td>
                            <td>{{item.nome}}</td>
                            <td>{{item.numeroRegistros}}</td>
                            <td>{{item.atributoPadrao.dataRegistro | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td *ngIf="item.statusArquivo != 'EMANDAMENTO'">{{item.descricaoStatus}}</td>
                            <td *ngIf="item.statusArquivo == 'EMANDAMENTO'">
                                <p-progressBar [value]="item.percentualProcessado"></p-progressBar>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-item>
                        <tr>
                            <td colspan="5">Linhas com erro: {{item.erros}}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </p-tabPanel>
        <p-tabPanel header="Arquivos Processados">
            <div class="table-responsive">

                <p-table [value]="processados" dataKey="id">
                    <ng-template pTemplate="caption" >
                        <div style="position: relative;top: -5px;">
                            <button label="Atualizar" icon="pi pi-refresh" pButton (click)="getProcessados()"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 3em"></th>
                            <th>Cliente</th>
                            <th>Arquivo</th>
                            <th style="width: 80px">Registros</th>
                            <th style="width: 100px">Processados</th>
                            <th style="width: 150px">Inicio Processo</th>
                            <th style="width: 150px">Fim Processo</th>
                            <th style="width: 150px">Duração</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-expanded="expanded">
                        <tr>
                            <td>
                                <a href="#" [pRowToggler]="item">
                                    <i [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                </a>
                            </td>
                            <td>{{item.cliente.razaoSocial}}</td>
                            <td>{{item.nome}}</td>
                            <td>{{item.numeroRegistros}}</td>
                            <td>{{item.numeroRegistrosProcessados}}</td>
                            <td>{{item.dataInicioProcesso | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{item.dataFimProcesso | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                            <td>{{item.duracaoProcesso | currency:'BRL':'':'1.2-2'}} Segundos</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="rowexpansion" let-item>
                        <tr>
                            <td colspan="5">Linhas com erro: {{item.erros}}</td>
                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </p-tabPanel>
    </p-tabView>

    <p-toast [baseZIndex]="5000"></p-toast>
    <p-confirmDialog></p-confirmDialog>

</div>
