<crud [componente]="this" titulo="Produto Geral" permissao="1.05">
    <div filtro>

    </div>

    <div listagem>
        <!-- {{objetoSelecionado|json}} -->
        <div class="table-responsive">
            <data-table [lista]="dados" [loading]="loading" [cols]="cols" (change)="setObjeto($event)"
                (doubleClick)="acaoDuploClick($event)">
            </data-table>
        </div>
    </div>

    <div detalhes>

        <div class="form-body">
            <div class="row">
                <diV class="ui-g-12" *ngIf="objetoSelecionado.id !== undefined && objetoSelecionado.id!==null && objetoSelecionado.id !== ''">
                    <inputText id="id" md="2" disabled="true" label="ID" [(ngModel)]="objetoSelecionado.id"></inputText>
                </diV>
                <inputText id="nomeProduto" md="12" label="Nome do Produto" [(ngModel)]="objetoSelecionado.nomeProduto">
                </inputText>
                <inputText id="ean" md="4" label="EAN" [(ngModel)]="objetoSelecionado.ean">
                </inputText>
                <inputText id="ncm" md="4" label="NCM" [(ngModel)]="objetoSelecionado.ncm"></inputText>
                <inputText id="cest" md="4" label="CEST" [(ngModel)]="objetoSelecionado.cest"></inputText>
            </div>

        </div>


    </div>

</crud>