<crud [componente]="this" titulo="Cenário" permissao="1.05">

    <div detalhes>

        <div class="row" *ngIf="estadoTela == 'Alterar' || estadoTela == 'Exlcuir'">
            <inputText id="id" md="2" disabled="true" label="ID" [(ngModel)]="objetoSelecionado.id"></inputText>
        </div>

        <div class="row pt-1">
            <inputText id="codigo" md="4" label="Código"
                       maxlength="12"
                       [(ngModel)]="objetoSelecionado.codigo"></inputText>
        </div>

        <div class="row pt-1">
            <inputText id="descricao" md="6" label="Descrição"
                       maxlength="250"
                       [(ngModel)]="objetoSelecionado.descricao"></inputText>
        </div>

    </div>
</crud>
